include README.rst
include LICENSE.rst
include AUTHORS.rst
include HISTORY.rst
recursive-include doc *
recursive-include test *
recursive-include tests *
prune doc/_build
prune test/_build
prune tests/_build
global-exclude *.pyc
exclude .gitignore
exclude .travis.yml
